{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.4/css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/flickity-1.0.2.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"/>
    <title>BEAR's homepage</title>
</head>
<body>
    <div id="WebGL"></div>
    <div id="WebGL-Stats"></div>
    
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.4/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/flickity-1.0.2.js' %}"></script>
    <script src="{% static 'js/glmatrix-2.2.1.js' %}"></script>
    <script src="{% static 'js/three-r71.js' %}"></script>
    <script src="{% static 'js/stats-r12.js' %}"></script>
    <script src="{% static 'js/dat-gui.js' %}"></script> <!-- 05/23/15 -->
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
